.header__container {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 25px 0 10px 0;
  box-shadow: $shadow;
  img {
    width: 180px;
    margin: 0 auto;
  }
  a {
    display: flex;
    position: absolute;
    margin: $margin;
    margin-top: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  i {
    color: $color-footer;
  }
}
