@keyframes apparition{
  0%{
    opacity: 0;
    transform: translate(0,10px);
  }
  100%{
    opacity: 1;
    transform: translate(0);
  }
}
.menu__container {
  background-color: $color-font;
  border-radius: 40px 40px 0 0;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 30px;
  gap: 40px;
  max-width: 1536px;
  margin:-60px auto 0 auto;
  .menu__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .plat {
    display: flex;
  }
  .menu__carte {
    display: flex;
    flex-direction: column;
    gap: 15px;
    animation: apparition 1s .2s linear both;
    &:hover{
      cursor: pointer;
    }

  }
  .menu__plat {
    display: flex;
    align-items: center;
    box-shadow: $shadow;
    background-color: #fff;
    border-radius: 10px;
    height: 65px;
    overflow: hidden;
    animation: apparition .6s .2s linear both;
    &--1{
      animation-delay: $timming-1;
    }
    &--2{
      animation-delay: $timming-2;
    }
    &--3{
      animation-delay: $timming-3;
    }
    &--4{
      animation-delay: $timming-4;
    }
  }
  .menu{
    width: 100%;
    padding:10px;
    margin-right: -65px;
    transition: 1s;
    &:hover{
      margin-right: 0;
    }
  }
  .plat__desc {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
@media screen and (min-width: $query){
  .menu__container{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    h1{
      margin: 0 auto;
    }
    .menu__carte{
    width: 30%;
      h3{
        margin:0 auto;
      }
      &--entrees{
        animation-delay: .2s;
      }
      &--plats{
        animation-delay: .2s;
      }
      &--desserts{
        animation-delay: .2s;
      }
    }
  }
}