.btn {
  margin: 0 auto;
  padding: 15px 20px;
  background: $color-btn;
  display: flex;
  animation: apparition .6s $timming-btn linear both;
  @include align-justify-center;
  border: none;
  border-radius: 30px;
  box-shadow: $shadow;
  min-width: 200px;
  &:hover {
    @include btn--hover();
    cursor: pointer;
  }
}
@media screen and (min-width: $query){
  .btn{
    animation-delay: $timming-5;
  }
}
