.heart {
  position: relative;
  svg{
  position: absolute;
  top: -50px;
  right: 10px;
  width: 30px;
  height: 30px;
}
  .heart--1 {
    fill:transparent;
    stroke: black;
    stroke-width: 2px;
    &:hover {
      cursor: pointer;
    }
    &:hover + .heart--2{
    cursor: pointer;
    animation: remplir 1s linear both;
    }
  }
  .heart--2 {
    fill: url(#lgrad);
    opacity: 0;
    transform-origin: bottom;
    &:hover{
      cursor: pointer;
      animation: remplir 1s linear both;
    }
  }
  .heart--menu{
  top:-15px;
  }
}
@keyframes remplir{
  0%{
    opacity: .2;
    transform: scale(0);
  }
  25%{
    opacity: .5;
    transform: scale(.25);
  }
  75%{
    opacity: .5;
    transform: scale(.75);
  }
  100%{
    opacity: 1;
    transform: scale(1);
  }
}

